streamlit
seaborn
spacy
python-dotenv
ipykernel
nltk
scikit-learn
xgboost
transformers
datasets
torch
accelerate>=0.26.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl